<div class="bg-background min-h-screen">
  <div class="bg-accent p-4">
    <h1 class="text-3xl text-secondary font-heading">POKEDEX</h1>
    <p class="text-white text-sm italic">by Franczeska Silvestre</p>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div>Dito yung filters</div>
    <div class="grid grid-cols-4 gap-12 p-12 justify-items-center">
      <div class="card">ID No, Name, Photo, and Type.</div>
      <div class="card">
        <div class="card-heading">
          <p>Name</p>
          <p>ID</p>
        </div>
        <div class="card-img">Hello</div>
        <div class="card-content">
          <div>
            <p>Type</p>
            <p>Secret</p>
          </div>
        </div>
      </div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
      <div class="card">Hello</div>
    </div>
    <div>Add pagination</div>
  </div>
</div>
